<nav class="sidebar" [class.collapsed]="collapsed">
  <div class="toggle-btn" (click)="toggleSidebarWidth()">
    ☰
  </div>

  <ul class="menu">
    <!-- Dashboard -->


     <li *ngFor="let item of modulesData">
    <div class="menu-item parent" (click)="toggleMenu(item.moduleID)">
       <i [class]="item.class"></i>
      <!-- [class]="item.icon" -->
      <span *ngIf="!collapsed">{{ item.description }}</span>
      <span class="arrow" *ngIf="!collapsed" [class.open]="openMenu === item.moduleID">▾</span>
    </div>

    <ul class="submenu" *ngIf="openMenu === item.moduleID && !collapsed">
      <li *ngFor="let sub of item.childModule">
        
        <a (click)="navigateTo(sub.url)" > <i  [class]="sub.class"></i> {{ sub.description }}</a>
      </li>
    </ul>
  </li>
  </ul>
</nav>
